<div id="loader">
    <div class="preloader"></div>
</div>
<nav>
    <a href="index.html" class="logo"><div class="icon"></div></a>
    <ul class="main_nav">
        <li><a href="about.html">We are</a></li>
        <li><a href="#">Promo</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <ul class="main_lang">
        <li><a href="#">English</a></li>
        <li><a href="#">Norsk</a></li>
        <li><a href="#">中文</a></li>
    </ul>
    <ul class="main_socials">
        <li><a href="#"><div class="icon" style="background-image: url('img/snapchat.svg');"></div></a></li>
        <li><a href="#"><div class="icon" style="background-image: url('img/twitter.svg');"></div></a></li>
        <li><a href="#"><div class="icon" style="background-image: url('img/instagram.svg');"></div></a></li>
        <li><a href="#"><div class="icon" style="background-image: url('img/youtube.svg');"></div></a></li>
    </ul>
    <p class="main_copy">©2018 with love from Norway</p>
</nav>